
.nav-bar{
    height: 120px;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
}
.name{
    margin-left: 5rem;
    padding: 1rem 0;
}
.navbar-brand{
    color: var(--main-bg-color);
    font-size: 1.8rem;
    font-weight: 700;
}
.job{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0;
}
.navbarnav{
    display: flex;
    justify-content: end;
    margin-right: 4rem;
}
.nav-item{
    padding: 2.75rem 1rem 1rem 1rem;
    margin-left: 2.5rem;
    margin-bottom: 1.25rem;
    font-size: 1.3rem;
    color: var(--main-bg-color);
    font-weight: 400;
    text-decoration: none;
}
.nav-item:nth-child(4){
    margin-right: 2rem;
}
.nav-item:hover{
    color: black;
    border-bottom: 3px solid black;
    transform: translateY(-8px);
    transition: 0.25s;
}
.home-current{
    padding: 0.75rem 1.5rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    color: var(--main-bg-color);
    font-weight: 400;
    text-decoration: none;
}
.hovered-item{
    color: black;
    border-bottom: 3px solid black;
    transform: translateY(-8px);
}

@media (max-width: 1199px) {
    .name{
        padding: 2rem 0;
    }
    .navbar-brand{
        font-size: 1.2rem;
    }
    .job{
        font-size: 1rem;
    }
    .nav-item{
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }
}
@media (max-width: 991px) {
        
}
@media (max-width: 575px) {
    .navbarnav{
        margin: 0;
    }
    .navbar-brand, .job{
        font-size: 1.2rem;
    }
    .name{
        margin-left: 1rem;
    }
    
}
