
.navbar{
    height: 120px;
    display: flex;
    margin-inline: auto;
}
.name{
    margin-left: 5rem;
}
.navbar-brand{
    color: var(--main-bg-color);
    font-size: 1.8rem;
    font-weight: 700;
}
.job{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0;
}
.navbar-nav{
    display: flex;
    justify-content: end;
    margin-right: 4rem;
}
.nav-item{
    padding: 0.5rem 1.5rem;
    margin-left: 2rem;
    font-size: 1.3rem;
    color: var(--main-bg-color);
    font-weight: 400;
    text-decoration: none;
}
.nav-item:hover{
    color: black;
    border-bottom: 3px solid black;
    transform: translateY(-8px);
    transition: 0.25s;
}
.home-current{
    padding: 0.75rem 1.5rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    color: var(--main-bg-color);
    font-weight: 400;
    text-decoration: none;
}
.hovered-item{
    color: black;
    border-bottom: 3px solid black;
    transform: translateY(-8px);
}

@media (max-width: 1199px) {
    .nav-item{
        font-size: 1.2rem;
        padding: 0.25rem 0.75rem;
    }
    .name{
        margin-left: 5rem;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
    .navbar-nav {
        margin-right: 5rem;
    }
}
