<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="name">
        <a class="navbar-brand" href="#">Dr. Félix Ruiz de la Cuesta Juste</a>
        <p class="job">ORL</p>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="collapse navbar-collapse navbar-nav" id="navbarNav">
        <a class="nav-item" [routerLink]="'/home'" *ngIf="!home">Home</a>
        <a class="nav-item hovered-item" [routerLink]="'/home'" *ngIf="home">Home</a>
        <a class="nav-item" [routerLink]="'/otorrino'" *ngIf="!otorrino">Otorrino</a>
        <a class="nav-item hovered-item" [routerLink]="'/otorrino'" *ngIf="otorrino">Otorrino</a>
        <a class="nav-item" [routerLink]="'/sobre-mi'" *ngIf="!sobremi">Sobre mi</a>
        <a class="nav-item hovered-item" [routerLink]="'/sobre-mi'" *ngIf="sobremi">Sobre mi</a>
        <a class="nav-item" [routerLink]="'/contacto'" *ngIf="!contacto">Contacto</a>
        <a class="nav-item hovered-item" [routerLink]="'/contacto'" *ngIf="contacto">Contacto</a>
    </ul>
</nav>