.navbar{
    display: flex;
    justify-content: space-around;
    height: 120px;
    padding: 0;

}

.navbar-brand{
    margin-left: 5%;
    color: var(--main-bg-color);
}
.name{
    font-size: 1.8rem;
    font-weight: 700;
    
}

.job{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0;
}
.nav-item{
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0 1.25rem 2rem 0;
    font-size: 1.2rem;
    color: var(--main-bg-color);
    font-weight: 400;
    text-decoration: none;
    border: 3px solid transparent;

}
.nav-item:nth-child(4){
    margin-right: 2rem;
}
.nav-item:hover{
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    transition: 0.1s;
}
.home-current{
    padding: 0.75rem 1.5rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    color: var(--main-bg-color);
    font-weight: 400;
    text-decoration: none;
}
.hovered-item{
    color: black;
    border-bottom: 3px solid black;
    transform: translateY(-8px);
}

.navbar-nav{
    list-style: circle;
}
.navbar-toggler{
    border: 2px solid;
}

@media (max-width:1199px) {
    .name{
        font-size: 1.4rem;
    }
    .job{
        font-size: 1.2rem;
    }
}

@media (max-width: 991px) {
    .rightnav{
        padding: 2rem;
    }
}

@media (max-width: 767px) {
    .navbar{
        justify-content: space-between;
        height: 90px;
    }
    .navbar-brand{
        margin-bottom: 0;
    }    
    .name{
        font-size: 1rem;
    }
    .job{
        font-size: 0.8rem;
    }
    .rightnav{
        padding: 1.5rem 0.5rem;
    }
}
@media (max-width: 399px) {
    .navbar-brand{
        margin-left: 10px;
    }    
    .name{
        font-size: 1rem;
    }
    .job{
        font-size: 0.8rem;
    }
}
