
.urls{
    display: flex;
    justify-content: space-between;
    background: url("../../../assets/mapsedit.png") repeat top center;
    background-repeat: repeat-y;
    background-size: cover;
    height: max(100vh, 100%);
}
.a-item{
    padding-top: 10vw;
    width: 35vw;
    height: 35vw;
    border: 2px solid black;
    text-align: center;
}
.a-sv{
    background: linear-gradient(to top, #000000aa, #000000aa), url("../../../assets/clinica2.jpg");
    background-size: 100%;
}
.a-alc{
    background-image: linear-gradient(to top, #000000aa, #000000aa), url("../../../assets/cms2.png");
    background-size: 100%;
}
.local{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 6rem 0 0 0;
    padding-bottom: 6rem;
}
.local:nth-child(2){
    border: 0;
}
.loc-n{
    font-size: 2.2rem;
    margin-bottom: 4rem;
    color: white;
}
.a-img:hover{
    scale: 1.08;
    border: 5px solid black;
    transition: 1s all ease-out;
}

.but{
    color: white;
    padding: 0.5rem 1rem;
    border: 3px solid white;
    background-color: inherit;
    font-size: 1.2rem;
    border-radius: 5px;
}
.but:hover{
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    transition: all 1s ease-in-out;
}

@media (max-width: 991px) {
    .urls{
        display: block;
    }    
    .local{
        width: 100%;
        margin-top: 0;
    }
    .a-item{
        width: 80vw;
        height: 80vw;
        margin-top: 10vw;
        padding-top: 25vw;
    }
}
@media (max-width: 575px) {
    .loc-n{
        margin-bottom: 15%;
    }
    
}