<div class="bg">
    <main class="middle">
        <div class="text">
            <h3 class="place">Centro Médico la Estación Alicante</h3>
            <a class="address" target="_blank" href="https://www.google.es/maps/place/Centro+Medico+Estacion+-+Laboratorio+Biocl%C3%ADnico/@38.3974455,-0.5568712,13z/data=!4m9!1m2!2m1!1scentro+medico+de+la+estacion!3m5!1s0xd62364e77972e07:0x1def8f05f85c2063!8m2!3d38.345!4d-0.490763!15sChxjZW50cm8gbWVkaWNvIGRlIGxhIGVzdGFjaW9uWh4iHGNlbnRybyBtZWRpY28gZGUgbGEgZXN0YWNpb26SAQ5tZWRpY2FsX2NlbnRlcpoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VOM01rbDJXbk4zUlJBQuABAA?hl=es"><span><i class="fa-solid fa-location-dot"></i></span>C. Pintor Cabrera 8, ALC</a>
        </div>
    </main>
    <footer class="footer">
        <div class="text-f">
            <p class="email"><span><i class="fa-solid fa-envelope"></i></span> : recepcion@cmestacion.com</p>
            <p class="phone"><span><i class="fa-solid fa-phone"></i></span> : 695 125 500</p>
            <p class="phone"><span><i class="fa-solid fa-phone"></i></span> : 682 095 583</p>
        </div>
    </footer>
</div>
