<div class="bg">
    <main class="middle">
        <div class="text">
            <h3 class="place">Clinica Santa Faz</h3>
            <a class="address"
                href="https://www.google.es/maps/place/Clinica+Santa+Faz.+Cl%C3%ADnica+de+Oftalmolog%C3%ADa+y+Otorrino+en+San+Vicente./@38.3974819,-0.5263365,17z/data=!3m1!4b1!4m5!3m4!1s0xd623777064685a3:0x3deab536fc04ea0e!8m2!3d38.397482!4d-0.5218518?hl=es"><span><i class="fa-solid fa-location-dot"></i></span>Av. de la Llibertat, 48, bis, 03690 Sant Vicent del Raspeig Alicante</a>
        </div>
    </main>
    <footer class="footer">
        <div class="text-f">
            <p class="email"><span><i class="fa-solid fa-envelope"></i></span> : info@clinicasantafaz.es</p>
            <p class="phone"><span><i class="fa-solid fa-phone"></i></span> : 635 88 420</p>
        </div>
    </footer>
</div>