
.slider {
    height: calc(100vh - 120px);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 120px);
}

.slides {
    width: 500%;
    height: calc(100vh - 120px);
    display: flex;
}

.radios{
    display: flex;     
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}
.radios input{
    margin-right: 25px;
    display: none;
}

.radios input:nth-child(4) {
    margin-right: 0;
}
.manual-btn:nth-child(1){
    background-color: var(--main-bg-color);
}
.bg-img{
    width: 100vw;
    height: auto;
}

.slide{
    width: 20%;
    transition: 2s;
    display: flex;
}
.group-s img{
    max-width: 100%;
    height: auto;
}
.text{
    position: absolute;
    margin: 22rem 0 0 10rem;
    
}

h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
    animation: startText 1.5s 0s;
    transform: translateY(-50px);
}
p{
    font-size: 1.5rem;
    color: white;
    animation: startText 1.5s 0s;
    transform: translateY(-50px);
}
h3{
    width: 100px;
    background-color: white;
    border-top: 8px solid black;
}


.nav-manual{
    position: absolute;
    width: 100%;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    background-color: inherit;
    border: 2px solid var(--main-bg-color);
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    margin-right: 20px;
}
.manual-btn:nth-child(4){
    margin-right: 0;
}
.manual-btn:hover{
    background-color: var(--main-bg-color);
}

@keyframes startText {
    0%{
        transform: translateY(50px);
        color: rgba(255, 255, 255, 0);
    }    
    100%{
        transform: translateY(-50px);
        color: white;
    }
}