.all{
    overflow: hidden;
    height: calc(100vh - 120px);
    background-image: url("../../../assets/principal.jpg");
    background-size: cover;
    /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}
.title{
    margin: 9% 0 0 2.5rem;
    font-size: 4rem;
    font-weight: 900;
    color: white;
}
.parag{
    margin: 2rem 30% 0 2.5rem;
    font-size: 2rem;
    color: white;
    font-weight: 900;
    text-align: justify;
}

.arrow{
    width: 150px;
    top: 80%;
    position: absolute;
}
.up{
    right: 0;
    margin-right: 1rem;
}
.down{
    margin-left: 1rem;
    transform: rotate(180deg);
}
.arrow:hover{
    width: 175px;
    transition: all 1.5s;
}