<div class="f-info d-flex">
    <div class="slider">
        <div class="slides">
            <div class="slide first group-s" id="first">
                <img src="../../../assets/operacion1.jpg" alt="">
                <div class="img-t">
                    <h2>ORL</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, libero.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, libero.</p>
                </div>
            </div>
            <div class="slide group-s">
                <img src="../../../assets/operacion1.jpg" alt="">
                <div class="img-t">
                    <h2>"El mejor cuidado para ti"</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, libero.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, libero.</p>
                </div>
            </div>
            <div class="slide group-s">
                <img src="../../../assets/operacion1.jpg" alt="">
                <div class="img-t">
                    <h2>Oido1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, libero.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, libero.</p>
                </div>
            </div>
            <div class="slide group-s">
                <img src="../../../assets/operacion1.jpg" alt="">
                <div class="img-t">
                    <h2>Oido 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, libero.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, libero.</p>
                </div>
            </div>
        </div>
        <div class="nav-manual">
            <button for="radio1" id="radio-1" class="manual-btn" (click)="clickRadio($event)" value="0"></button>
            <button for="radio2" id="radio-2" class="manual-btn" (click)="clickRadio($event)" value="-20"></button>
            <button for="radio3" id="radio-3" class="manual-btn" (click)="clickRadio($event)" value="-40"></button>
            <button for="radio4" id="radio-4" class="manual-btn" (click)="clickRadio($event)" value="-60"></button>
        </div>
    </div>
</div>