<div class="all">
    <ul class="cv-list">
        <h1 class="title">Sobre Mi</h1>
        <li><i class="fa-solid fa-circle"></i>Licenciatura en medicina y cirugía (1993-2000). Universidad
            de Navarra. Pamplona (Navarra). España</li>
        <li><i class="fa-solid fa-circle"></i>Especialidad en Otorrinolaringología y Patología Cérvico-
            Facial (2001-2005). Hospital General Universitario de Alicante.
            Alicante. España</li>
        <li><i class="fa-solid fa-circle"></i>Doctorado en Farmacología, Pediatría y Química orgánica
            (2002- 2004). Universidad Miguel Hernández. Alicante. España.</li>
        <li><i class="fa-solid fa-circle"></i>Máster Universitario en Investigación Clínica y Quirúrgica.
            (2014-2015). Universidad Miguel Hernández. Alicante. España.</li>
        <li><i class="fa-solid fa-circle"></i>EXPERTO EN DIAGNOSTICO Y REHABILITACIÓN DE LA HIPOACUSIA
            INFANTIL (2014-2015). Universidad Alcalá de Henares. Madrid.
            España.</li>
        <li><i class="fa-solid fa-circle"></i>TESIS DOCTORAL (2015): “ESTUDIO DEL CRIBADO NEONATAL Y
            DIAGNÓSTICO DE LA HIPOACUSIA. DETECCIÓN PRECOZ DE LA
            HIPOACUSIA INFANTIL: VALORACIÓN DEL PROGRAMA DE CRIBADO Y
            ESTUDIO DE LOS CASOS DIAGNOSTICADOS”. Universidad Miguel
            Hernández. Alicante. España.</li>
    </ul>
</div>