<div class="all">
    <div class="urls">
        <img src="../../../assets/operacion1.jpg" alt="" class="url">
        <img src="../../../assets/operacion1.jpg" alt="" class="url">
        <img src="../../../assets/operacion1.jpg" alt="" class="url">
        <img src="../../../assets/operacion1.jpg" alt="" class="url">
        <img src="../../../assets/operacion1.jpg" alt="" class="url">
        <img src="../../../assets/operacion1.jpg" alt="" class="url">
    </div>
    <div class="first art">
        <h2 class="title">RESPIRAR POR LA NARIZ (FISIOLOGÍA NASAL)</h2>
        <img src="../../../assets/operacion1.jpg" alt="" class="f-img">
        <p class="par">El organismo humano está diseñado para respirar por la nariz. El hecho de que la respiración nasal suponga más gasto de
        energía que la respiración oral y que nuestro organismo siempre esté intentando ahorrar energía, nos indica su alto
        grado de importancia.</p>
        <p class="par">La función principal de la nariz es acondicionar el aire de modo que entre limpio, húmedo y caliente en el organismo.
        Además la nariz ofrece más resistencia al paso del aire que la boca, lo que provoca que hagamos respiraciones más
        profundas, consiguiendo así disminuir la frecuencia respiratoria, mejorar el intercambio gaseoso en los pulmones…</p>
        <p class="par">Cuando este sistema no funciona, además de la merma que ocasiona en la calidad de vida del que lo sufre, ocurren otra
        serie de fenómenos:
        -Aumento de los problemas de garganta: llega a la garganta un aire frío, seco y sin filtrar, que con el paso del tiempo
        contribuye a generar una faringitis crónica.
        -Aumento del ronquido: por la noche, al estar la musculatura de la caja torácica relajada y no poder vencer la
        resistencia de la nariz se abre la boca para poder respirar, con lo que la frecuencia e intensidad del ronquido aumenta
        notablemente.
        -Empeoramiento del olfato: Si el aire no circula correctamente por las fosas nasales, no se depositaran las partículas
        olfativas en el órgano receptor situado en la parte superior de la nariz, por lo que la intensidad del olfato disminuye.
        Consecuentemente, saboreamos menos las comidas.
        -Malestar: El hecho de no respirar por la nariz, provoca una sensación continua de malestar al que lo padece alterando
        otras situaciones cotidianas como son el sueño, hacer deporte, comer…</p>
        <p class="par">Toda persona que respire mal por la nariz, requiere una exploración por parte de un Otorrinolaringólogo, para valorar
        los diferentes tipos de situaciones que ocasionan la dificultad respiratoria nasal: pólipos nasales, desviación del
        tabique nasal, vegetaciones, hipertrofia de cornetes, etc.</p>
        <p class="par">Tras detectar el problema lo primero será instaurar un tratamiento médico y valorar el resultado de éste. En caso de no
        percibir mejoría con estos tratamientos, se puede recurrir a la cirugía.</p>
        <p class="par">El tipo de cirugía que se realiza para mejorar la respiración nasal, depende de la causa que origine el problema pero en
        líneas generales se realizará sin incisiones de la piel y sin cambios de la estética facial.</p>
        <p class="par">La más común de estas cirugías, la que intenta arreglar el tabique nasal desviado es la denominada SEPTOPLASTIA, que
        consiste en mediante incisiones que se realizan por dentro de la nariz, arreglar la deformidad del tabique nasal, para
        que quede centrado y conseguir así una buena ventilación por la nariz.</p>
    </div>
    <div class="second art">
        <h2 class="title">RONCOPATIA: SINDROME DE APNEA-HIPOPNEA DEL SUEÑO (SAHS)</h2>
        <img src="../../../assets/operacion1.jpg" alt="" class="s-img">
        <p class="par">Se estima que aproximadamente el 5% de la población española adulta, presenta SAHS (Síndrome de Apnea Hipopnea del
        Sueño). El SAHS es un problema complejo que suele requerir equipos multidisciplinares para su correcto abordaje
        diagnóstico y terapéutico.</p>
        <p class="par">El SAHS se caracteriza por episodios repetidos de obstrucción completa (apneas) o parcial (hipopneas) de las vías
        respiratorias durante el sueño. Estas obstrucciones dan lugar a un ronquido que es fácilmente identificable por las
        personas que conviven con estos pacientes, describiéndolos como ronquidos entrecortados que puntualmente cesan (dejan de
        respirar) y tras un ronquido de mayor profundidad vuelven a roncar.</p>
        <p class="par">Este fenómeno provoca en el sujeto múltiples despertares no conscientes, lo que da lugar a un sueño no reparador y a una
        sensación de cansancio durante el día. Esta somnolencia diurna acarrea ciertos problemas como son cambios de humor,
        disminución del rendimiento laboral, dificultad de concentración e incluso la aparición de accidentes de tráfico o
        domésticos. En la población infantil se ha relacionado con dificultades del aprendizaje.</p>
        <p class="par">Además, con cada ronquido hay un fenómeno de disminución de la cantidad de oxígeno en sangre, lo que llamamos
        desaturación, que es el causante de múltiples consecuencias como son la HTA, enfermedades cardiovasculares y
        cerebrovasculares. De hecho, cada vez son más los estudios que identifican al SAHS como causa independiente de estas
        patologías.</p>
        <p class="par">El diagnóstico se basa en primer lugar una historia clínica detallada y una exploración completa otorrinolaringológica,
        para valorar posibles alteraciones en las vías respiratorias superiores, dado que en muchas ocasiones el ronquido se
        produce por una obstrucción a este nivel.
        Tras esta exploración inicial, normalmente se realiza un estudio del sueño que suele ser una Poligrafía respiratoria
        (PR) o una Polisomnografía (PSG) cuyo objetivo es valorar diferentes parámetros del sueño como son la eficacia del
        sueño, índice de apneas-hipopneas, movimientos anormales, saturación de oxigeno, cambios en la frecuencia cardiaca,
        despertares…</p>
        <p class="par">Con todos los datos obtenidos, se plantea el tratamiento que ha de ser individualizado en función de cuál sea la causa
        del problema y la gravedad del SAHS. El tratamiento puede abarcar diferentes enfoques como abarcarían desde la pérdida
        de peso, abandono de hábitos nocivos (tabaco, alcohol) hasta la cirugía ORL/maxilofacial (amígdalas, paladar, tabique
        nasal…) o la prescripción de CPAP (presión positiva continua).</p>
    </div>
    <div class="third art">
        <h2 class="title">OTITIS EXTERNA</h2>
        <img src="../../../assets/operacion1.jpg" alt="" class="f-img">
        <p class="par">Definimos la otitis externa, la que conocemos como otitis del verano o de las piscinas, como una inflamación del
        epitelio (la piel) que cubre el conducto auditivo externo. La infección se suele producir con una causa desencadenante
        que suele ser la entrada de agua en el oído acompañada de otras situaciones personales como son la maceración de la piel
        por calor y humedad, la presencia de cera, el rascado, causas anatómicas como el conducto auditivo estrecho.</p>
        <p class="par">La clínica que suele producir es otalgia (dolor de oído, que suele ser muy intenso), otorrea (secreciones), picor, leve
        pérdida auditiva, sensación de plenitud ótica…además la movilización del pabellón auricular es dolorosa y puede incluso
        aparecer dolor al bostezar o comer.</p>
        <p class="par">El diagnóstico lo realiza el Otorrinolaringólogo mediante otomicroscopia (exploración del oído bajo microscopio) lo cual
        es importante por el hecho de que puede haber secreciones o cera en el conducto, que hay que limpiar para que no impida
        a las gotas actuar y retrase la curación.</p>
        <p class="par">El tratamiento normalmente se basa en antibióticos tópicos (gotas), antibiótico oral a criterio del médico y analgésicos
        por lo doloroso del cuadro. Uno de los problemas que surgen con no poca frecuencia, es que el edema que se produce en la
        piel del conducto auditivo es tan importante que las gotas no se llegan a introducir correctamente y el cuadro clínico
        empeora (sería como estar sin tratamiento). Estos casos requieren la actuación del ORL para colocar dentro del oído un
        molde de celulosa o una gasita para que las gotas estén en contacto con la piel del conducto.</p>
        <h4>Además hay otras patologías que pueden dar similares síntomas y que son importantes diagnosticar:</h4>
        <ul>
            <li class="par li-item">OTOMICOSIS: hongos. Requiere aspirado de secreciones, generalmente en más de una ocasión, además de un tratamiento
            especifico</li>
            <li class="par li-item">OTITIS MEDIA AGUDA: ambas patologías suelen denominarse como otitis, pero son entidades completamente distintas desde
            todos los puntos de vista, incluido las causas y el tratamiento</li>
            <li class="par li-item">OTITIS MEDIA CRONICA REAGUDIZADA: en personas con patología otológica previa.</li>
            <li class="par li-item">CUERPO EXTRAÑO: requieren su extracción.</li>
            <li class="par li-item">OTITS CIRCUNSCRITA: como un absceso, requiere drenaje para su resolución.</li>
            <li class="par li-item">PERICONDRITIS: inflamación del pabellón auricular</li>
            <li class="par li-item">OTITIS EXTERNA MALIGNA: Muy grave. Suele darse en inmunodeprimidos o diabéticos mal controlados.</li>
            <li class="par li-item">OTITIS VIRICAS: herpes, miringitis bullosa, síndrome de Ramsay-Hunt</li>
        </ul>
    </div>
    <div class="fourth art">
        <h2 class="title">DISFONIA: PATOLOGIA DE LA VOZ</h2>
        <img src="../../../assets/operacion1.jpg" alt="" class="s-img">
        <p class="par">Denominamos disfonía a la alteración de las cualidades de la voz, lo que comúnmente se llama afonía o ronquera.</p>
        <p class="par">Las causas principales de la disfonía suelen ser el mal uso de la laringe (hablar mucho, hablar mal,gritar) y el tabaco.
        Hay otras causas menos frecuentes como serían el Reflujo Gastroesofágico, parálisis de una o ambas cuerdas vocales (ver
        enlace, videos paralisis cuerdas vocales). La disfonía también puede ser causada por procesos malignos (cáncer) sobre
        todo en personas fumadoras.</p>
        <p class="par">El diagnóstico es por un lado clínico y por otro requiere la observación directa de las cuerdas vocales. La exploración
        se realiza mediante una Nasofibrolaringoscopia flexible, que nos permite visualizar las cuerdas vocales y su movimiento.</p>
        <p class="par">Esquemáticamente podríamos clasificar la patología de la voz en Disfonías Funcionales (aquella alteración de la voz, que
        no presenta enfermedades en las cuerdas vocales) y Disfonía Orgánica (donde en las cuerdas vocales hay algún tipo de
        lesión). Así cuando exploramos las cuerdas vocales en una persona que presenta disfonía, podemos encontrar desde unas
        cuerdas vocales sanas (Disfonía Funcional) o diferentes tipos de patología como son los nódulos, pólipos, quistes,
        edemas…en ocasiones, la disfonía puede incluso estar provocada por lesiones malignas (tumores).</p>
        <p class="par">Una vez diagnosticadas, el tratamiento de las disfonías es principalmente Logopédico. Requerirán cirugía solo aquellos
        casos que por las características de la lesión de las cuerdas vocales, el tratamiento logopédico no sea suficiente. Toda
        lesión en pacientes fumadores es susceptible de ser biopsiada por su potencial malignidad.</p>
        <p class="par">La intervención quirúrgica se realiza bajo anestesia general y se accede a las cuerdas vocales para retirar las lesiones
        que haya. Esta intervención se realiza casi siempre a traves de la cavidad oral, sin ser necesario realziar incisiones
        en la piel. El tejido extirpado será siempre analizado para descartar cualquier proceso maligno que pudiera existir.</p>
    </div>
    <div class="fifth art">
        <h2 class="title">ADENOAMIGDALECTOMIA</h2>
        <img src="../../../assets/operacion1.jpg" alt="" class="f-img">
        <p class="par">La faringe es un canal músculomembranoso que se divide en naso, oro e hipofaringe. En su superficie hay tejido
        linfoepitelial (donde se generan defensas), que en determinadas regiones se agrupa y forma lo que denominamos el anillo
        de Waldeyer (amígdalas palatinas o anginas, adenoides o vegetaciones, amígdala lingual, cordones laterales faríngeos...)</p>
        <p class="par">El aumento excesivo del tamaño de estos tejidos, en especial de las amígdalas palatinas y las adenoides, puede dar lugar
        a una disminución del calibre de la vía respiratoria superior, provocando en el niño síntomas como ronquido nocturno,
        pausas de apnea, somnolencia diurna...El aumento del tamaño de las adenoides, provocará además obstrucción de la Trompa
        de Eustaquio y la aparición de moco en el oído; este moco se podrá infectar dando lugar a Otitis Medias Agudas.</p>
        <p class="par">Otro problema que aparece frecuentemente son las infecciones. En niños menores de 3 años suelen ser víricas pero pasada
        esa edad se transforman en bacterianas, cursando con intenso dolor faringeo, fiebre de 30-40º, adenopatías cervicales...
        y suelen requerir la toma de antibióticos. Además, como cualquier otra infección, puede presentar complicaciones,
        provocando flemón/absceso periamigdalino, abscesos para o retro faríngeos, trombosis de la vena yugular...</p>
        <p class="par">Aunque evidemente hay que valorar cada caso de forma individual, la intervención que se realiza en estos casos es la
        ADENOAMIGDALECTOMIA (extirpación de adenoides y amígdalas palatinas)</p>
        <h4 class="par">Para evitar la realización de esta intervención a niños que no lo necesiten, la Sociedad Española de
        Otorrinolaringología en conjunto con la Asociación Española de Pediatra, ha elaborado unos criterios para la indicación
        de esta intervención quirúrgica. De forma esquemática, estos criterios serian:</h4>
        <ul>
            <li class="par li-item">Amigdalitis de repetición</li>
            <li class="par li-item">Absceso periamigdalino recurrente</li>
            <li class="par li-item">Adenitis (inflamación ganglios del cuello) recurrente</li>
            <li class="par li-item">SAOS (Síndrome de Apnea Obstructiva del Sueño)</li>
            <li class="par li-item">Dificultad respiratoria nasal de causa adenoidea</li>
            <li class="par li-item">Otitis Media Serosa persistente</li>
            <li class="par li-item">Otitis Media Aguda de repetición</li>
        </ul>
        <p class="par">La adenoamigdalectomía, se realiza bajo Anestesia General. Durante el mismo acto quirúrgico se realiza una revisión de
        los oídos y se actúa sobre estos en función de las necesidades, y si es necesario se colocarán unos DTT (Drenajes
        Transtimpánicos).</p>
        <p class="par">Tras un postoperatorio de 3 a 7 días, la mejoría clínica suele ser espectacular, desapareciendo el ronquido, las
        infecciones, los dolores de oído… Además, no provoca déficit inmunitario en el niño gracias a la hipertrofia
        compensadora del resto de este tejido linfático.</p>
    </div>
    <div class="art six">
        <h2 class="title">FARINGITIS CRONICA</h2>
        <img src="../../../assets/operacion1.jpg" alt="" class="s-img">
        <p class="par">Empleamos el término Faringitis Crónica para referirnos a una inflamación repetida de la faringe sin componente
        infeccioso. Por definición es de naturaleza benigna.</p>
        <p class="par">Siendo un proceso generalmente multifactorial, parece existir una predisposición personal de algunas personas a padecer
        este tipo de patología crónica. Lo que sabemos es que no existe relación entre faringitis y amigdalectomía.</p>
        <p class="par">En su aparición pueden influir factores externos, como agentes irritantes (productos químicos, polvo, excesivo calor,
        cambios bruscos de temperatura, exposición a corrientes de aire o humos, aire acondicionado seco, tabaco, alcohol),
        presencia de otras enfermedades (sinusitis crónica, hipertrofia amigdalar, diversas enfermedades de corazón, pulmón,
        riñón, reflujo gástrico,...), alteraciones endocrinas (menopausia, déficit de vitamina A, hipotiroidismo, diabetes,…) ,
        abuso y mal uso de la voz (maestros, vendedores cantantes…), alergia, ciertos medicamentos (antihipertensivos ,
        ansiolíticos, antidepresivos, radio-quimioterapia…)
        Las manifestaciones clínicas son bastante molestas y muy diferentes según el paciente: sensación de cuerpo extraño en la
        faringe, dolor punzante de garganta (sobre todo por la mañana, debido a la respiración oral nocturna) que suele empeorar
        al tragar, necesidad de carraspear con frecuencia, tos irritativa e incluso náuseas, sensación de ahogo, secreción
        faríngea densa e incolora (no siempre), úvula tumefacta (en ocasiones)…</p>
        <p class="par">El diagnóstico lo debe realizar el médico especialista Otorrinolaringólogo, sobre todo para descartar cualquier otro
        tipo de proceso. Es muy importante una exploración ORL completa sobre todo en pacientes fumadores.
        </p>
        <h4 class="par">Tipos de Faringitis Crónica:</h4>
        <ul>
            <li class="par li-item">F. Crónica Simple. Se tiene la sensación de cuerpo extraño y sequedad, carraspeo, tos que causa irritación y secreciones
            que se adhieren a la garganta. No existe manifestación clara de enfermedad, y no hay fiebre.</li>
            <li class="par li-item">F Crónica Granulosa o Hiperplásica. La mucosa de la pared posterior de la garganta se encuentra inflamada, granulosa y
            con coloración rojiza; hay secreción abundante, densa e incolora. Casi siempre hay sensación molesta de cuerpo extraño
            que hace necesario deglutir o carraspear para lograr alivio, y que llega a generar nausea y vómito.</li>
            <li class="par li-item">Crónica seca o atrófica. Garganta lisa, seca, brillante y, a menudo, con costras; se relaciona con variaciones de
            temperatura (hay mejoría en regiones cercanas al mar y empeora con el aire seco y caliente). Adultos y ancianos son
            afectados con más frecuencia, y sufren más para eliminar las molestias; pueden tener sensación de ahogo, alteraciones
            del sueño y pueden presentarse pequeñas hemorragias.</li>
        </ul>
        <h4 class="par">Tratamiento:</h4>
        <ul>
            <li class="par li-item">Eliminar los posibles factores causales: Supresión del tabaco y del alcohol, cambio en las condiciones de trabajo
            (evitar aire acondicionado o calefacción fuerte), evitar alimentos y bebidas muy frías o calientes, Rehabilitación de la
            voz (si existe abuso o mal uso de la voz)</li>
            <li class="par li-item">Humidificación de la mucosa faríngea con inhalaciones nasales y bebiendo abundante agua (1.5 a 2 litros al día)</li>
            <li class="par li-item">Complejos vitamínicos (sobre todo Vitamina A y E).</li>
            <li class="par li-item">Empleo de soluciones salinas o preparados oleosos, cuando la mucosa faríngea está seca.</li>
            <li class="par li-item">Tratamiento antiinflamatorio local: infusiones de manzanilla o de salvia, etc.</li>
            <li class="par li-item">Mucolíticos en el caso de que el moco y los exudados sean espesos.</li>
            <li class="par li-item">Inhibidores de la bomba de protones para tratar el probable reflujo faringolaríngeo a dosis elevadas y un mínimo de 6-8
            semanas.</li>
            <li class="par li-item">No deben utilizarse antibióticos para su tratamiento (incluidos macrólidos) ya que no se ha demostrado eficaz.</li>
        </ul>
    </div>
</div>